.body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.flex-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.img-box {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvas-area,
  .iframes {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    //width: 100%;
    //height: 100%;
    padding: 16px 16px 0;
    flex-direction: row-reverse;
    width: calc(100% - 368px);
    min-width: 320px;
    height: 100%;
    overflow: auto;

    .iframe {
      width: 50%;
      margin-bottom: 8px;
      box-sizing: border-box;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .canvas {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .canvas-area {
    display: none;
    padding-bottom: 12px;
  }
}

.control {
  position: absolute;
  top: 0;
  right: 0;
  width: 368px;
  height: 100%;
  background: #ddd;
  overflow: auto;
  padding: 16px;
  box-sizing: border-box;

  .title {
    margin: 0 0 16px;
    padding: 0;
    font-size: 14px;
    text-align: center;
  }

  .colors {
    margin: 0 0 8px;
    input {
      //width: 18%;
      width: calc((100% - 32px) / 5);
      height: 30px;
      padding: 0;
      cursor: pointer;
    }
  }
  .buttons {
    margin: 0 0 16px;
    display: flex;
    flex-wrap: wrap;
    
    button {
      margin: 0 8px 0 0;
      cursor: pointer;
    }

    .right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .files{
    margin: 0 0 16px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    .file {
      width: 100%;
      margin: 0 0 8px;
      padding-top: 8px;
    }
    .gamma {
      width: 100%;
      display: none;
      font-size: 12px;
    }
    .canvas-save {
      display: none;
    }
  }

  .palette {
    margin: 0 0 16px;
    padding: 16px 12px 8px;
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    li {
      margin: 0 4px 0 0;
      padding: 0;
      //width: 11%;
      width: calc((100% - 32px) / 8);
      height: 22px;
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: grab;
      &:hover {
        opacity: .7;
      }
      &:active {
        cursor: grabbing;
      }
    }
  }

  .sample {
    margin: 0 0 16px;
    padding: 12px 12px 8px;
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    li {
      margin: 0 4px 4px 0;
      padding: 4px 8px;
      width: 100%;
      font-size: 12px;
      display: block;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: right;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
  }

  .subtitle {
    margin: 0 0 6px;
    padding: 0;
    font-size: 14px;
  }

  .readme {
    p {
      font-size: 12px;
      margin: 0 0 8px;
      padding: 0;
    }
  }
}

.drop-over {
  background: repeating-linear-gradient(-45deg, gray, gray 5px, white 5px, white 10px);
  opacity: 0.7;
}

@mixin sp() {
  position: static;
  display: flex;
  flex-direction: column;

  .img-box {
    position: static;
    width: 100%;
    height: 100%;
    .target {
      position: static;
    }
    .canvas-area,
    .iframes {
      position: static;
      width: 80%;
      margin: 0 auto;
      .iframe:nth-child(n + 3) {
        display: none;
      }
    }
    .canvas-area {
      margin: -27px auto 0;
    }
    .canvas {
      margin: -22px auto 0;
      max-width: 100%;
      max-height: 90vh;
    }
  }
  .files {
    .gamma {
      display: none !important;
    }
  }

  .control {
    position: static;
    width: 100%;
    height: auto;
    .palette li {
      height: 30px;
    }
  }
}

.is-smartphone {
  @include sp();
}

.is-ios {
  .files {
    //display: none;
  }
  .img-box {
    .iframes {
      .iframe:nth-child(n + 3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .is-ios {
    @include sp();
  }
}

@media screen and (max-width:1024px) and (min-width:480px) {
  .is-smartphone,
  .is-ios {
    .flexbox {
      display: flex;

      .left {
        width: 58%;
        margin-right: 2%;
      }

      .right {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width:1023px) and (min-width:480px) {
  .is-smartphone,
  .is-ios {
    .img-box {
      .canvas-area,
      .iframes {
        width: 100%;
      }
    }
  }
}
